@font-face {
        font-family: 'Goldplay';
        src: local('Goldplay Alt Black'), local('Goldplay-Alt-Black'),
                url('GoldplayAlt-Black.woff2') format('woff2'),
                url('GoldplayAlt-Black.woff') format('woff'),
                url('GoldplayAlt-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
}

body {

        background-image: url('background.png');
        background-size: cover;
        margin: 0;

}



#navbar-logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
}

img {  
        padding-top: 20px;
        padding-bottom: 20px;
        left: 0px;
        top: 0px;
        height: 120px;
        width: 425px;
}

.barTitle{
        display: flex;
        justify-content: center;
        align-items: center;
}

main {
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

}

.search-container {
        text-align: center;
}

.page-heading {
        margin-bottom: 20px;
        font-size: 150px;
        color: #774118;
        font-family: "Goldplay Black";
}

input[type="text"] {
        background-color: #FACC9B;
        border-radius: 20px 5px 5px 20px;
        border: none;
        padding: 10px;
        font-size: 40px;
        margin-right: 5px;
        margin-right: 5px;
}

input[type="text"]:focus {
        outline: none;
}


button {
        padding: 10px 20px;
        border-radius: 5px 20px 20px 5px;
        font-size: 37px;
        background-color: #FACC9B;
        color: #8D4E1D;
        border: none;
        cursor: pointer;
        font-family: 'goldplay semibold';
}
.page2hed{
        color: black;
        text-decoration: none;
}

footer{
        position: absolute;
        bottom: 0px;
}