*{
  padding: 0;
  margin: 0;
}


::-webkit-scrollbar {
  display: none;
}
body {
  background-image:url(background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.top{
  margin-bottom: 10px;
  border-radius: 30px;
}
.centre{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.left{
  border-radius: 30px;
  padding: 8px;
  border:2px solid black;
  border-radius: 30px;
  padding: 8px;
  border:2px solid black;
      height: 50vh;
      width: 40vw;
      border-radius: 30px;
      /* border: 3px solid black; */
      box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
      overflow-y: scroll;
      padding: 15px;
      z-index: 2;
      
      left: 10px;
}
.right{
  border-radius: 30px;
  padding: 8px;
  border:2px solid black;
      height: 50vh;
      width: 40vw;
      border-radius: 30px;
      /* border: 3px solid black; */
      box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
      overflow-y: scroll;
      padding: 15px;
      z-index: 2;
      
      right: 10px;

}
.bottom{
  backdrop-filter: blur(5px);
  overflow: auto;
  padding: 8px;
  border-radius: 30px;
  position: relative;
  bottom: 0px;
  left: 2px;
  height: fit-content;
  width: 98.3vw;
  margin: 10px;
  border-radius: 30px;
  /* border: 3px solid black; */
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  overflow-x: auto; 
  white-space: nowrap;
}
nav img{
  height: 13vh;
}
.searchb {
  position: relative;
  right:10px;
  width: 16vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#bar {
  position: relative;
  height: 6vh;
  width: 11.5vw;
  border-radius: 20px 0px 0px 20px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  box-shadow: 9px 9px 0px 0px black;
  font-size: 22px;
  outline-style: none;
  padding-left: 1vw;
}

.searchbutton {
  position:relative;
  bottom: -4.5px;
  right: 8.5px;
  height: 6.4vh;
  width: 2.8vw;
  z-index: 2;
  border: 2px solid black;
  border-radius: 0px 18px 18px 0px;
  box-shadow: 7px 9px 0px 0px black
}
#navbar{
  backdrop-filter: blur(2px);
  color:bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:101vw;
}
.search-container{
display: flex;
justify-content: baseline;
align-items:end;
padding:5px;
}
body>div {
  margin: 10px;
}
.divtitle {
  position: relative;
  display: flex;
  top: 0px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #6F1A07;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px; /* Adjust the margin as needed */
}
a{
text-decoration: none;
color: black;
}
a:hover{
color:blue;
}