<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <title>EduForAll</title>
</head>

<body>

        <!--<nav id="nav-logo"><img src="static\transparentLogo.png" alt="EduForAll" id="logo"></nav>-->
  
        <main>
          <div class = "logo">
            <video autoplay loop muted width="150" height="150">
              <source src="static\aniLogo.mp4" type="video/mp4">
            </video>  
          </div>
           <img class="barTitle" src="static\Edu For All.png" alt="Logo image">
            <!--<p class="page-heading" style="font-size: larger;"><h1>EduForAll</h1></p>-->
            <form id ="searchform"action="/process" method="post">
            <div class="search-container">
                <input type="text" placeholder="" name="messageInput" id="bar">
                <button type="submit" class="searchbutton">Search</button>
            </div>
            </form>
        </main>
        <div>
            <footer>
              <div class="footer">

                <!-- Look into this. Add social media creds -->
                <p>EduForAll
                  © 2023 EduForAll. All rights reserved.</p>
                <!--
                <div class="footer-links">
                  <a href="https://www.gmail.com" target="_blank"> <img class=img src="icons/email.png" alt="email"></a>
                  <a href="https://instagram.com" target="_blank"><img class=img src="icons/instagram.png" alt="instagram"></a>
                  <a href="https://twitter.com" target="_blank"> <img class=img src="icons/twitter.png" alt="twitter"></a>
                </div>-->
            </footer>
        </div>
</body>

</html>