<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='page2.css')}}">
    <title>EduForAll</title>
</head>

<body>
    
        <nav id="navbar">
            <div>
            <img src="/static/EduForAll Transparent.png" alt="EduForAll" id="logo" >
            </div>

        <div class="searchb">
            <form id ="searchform"action="/process" method="post">
                <input type="text" name="messageInput" id="bar" placeholder="Search">
                <button class="searchbutton" type="submit"> <img src="icons/loupe.png" alt="search" width="30px" height="30px"> 
                </button>
            </form>
        </div>

        </nav>
  
        <main>
           <div class="top">
                <div class="summary">
                    <div class="divtitle">Summary</div>
                    {% if wiki_message %}
                    <pre style="white-space: pre-wrap; font-size: x-large;font-weight: 500;font-family:cursive;padding: 10px;">{{ wiki_message }}</pre>
                    {% endif %}
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %}
                </div>
           </div>

            <div class="centre">
                <div class="link left">
                    <div class="divtitle">Website Links</div>
                    {% if google_message %}
        
                    <ul>
                    {% for title, link in google_message %}
                        <li>
                            <h3>{{ title }}</h3>
                            <a href="{{ link }}" target="_blank"><h3>{{ link }}</h3></a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                <div class="pdf right">
                    <div class="divtitle">PDF Links</div>
                    {% if books_message %}
        
                    <ul>
                        {% for title, link in books_message %}
                            <li>
                                <h3>{{ title }}</h3>
                                <a href="{{ link }}" target="_blank"><h3>{{ link }}</h3></a>
                            </li>
                        {% endfor %}
                    </ul>
                        {% endif %}
                </div>
            </div>
            <div class="bottom">
                {% if youtube_message %}
        <ul>
                {% for link, num in youtube_message %}
                    {% if num < 5%}
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{link}}" frameborder="0" allowfullscreen></iframe>
                        {%endif%}
                        {% if num == 5%}
                            <br>
                        {% endif %}
                        {% if num >= 5%}
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{link}}" frameborder="0" allowfullscreen><iframe>
                            {% endif %}
                        {% endfor %}
                </ul>
            {% endif %}
            </div>
        </main>

        
    
        <script src="/test.js"></script>


</body>

</html>