@font-face {
        font-family: 'Goldplay';
        src: local('Goldplay Alt Black'), local('Goldplay-Alt-Black'),
                url('GoldplayAlt-Black.woff2') format('woff2'),
                url('GoldplayAlt-Black.woff') format('woff'),
                url('GoldplayAlt-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
}

body {

        background-image: url('/static/sprites/background.png');
        background-size: cover;
        margin: 0;

}


.search-container{
        border-radius: 20px;
        box-shadow: 8px 10px 0px black;
        background-color: black;
}

#navbar-logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
}

img {  
        padding-top: 20px;
        padding-bottom: 20px;
        left: 0px;
        top: 0px;
        height: 150px;
        width: 500px;
}

.barTitle{
        display: flex;
        justify-content: center;
        align-items: center;
}

main {
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

}

.search-container {
        text-align: center;
        
}

.page-heading {
        margin-bottom: 20px;
        font-size: 150px;
        color: #774118;
        font-family: "Goldplay Black";
}

input[type="text"] {
        background-color: #FACC9B;
        border-radius: 20px 5px 5px 20px;
        border: 2px solid black;
        width: 35vw;
        padding: 10px;
        font-size: 32.5px;
}

input[type="text"]:focus {
        outline: none;
}


button {
        border:2px solid black;
        position: relative;
        right: 0px;
        padding: 10px 20px;
        border-radius: 5px 20px 20px 5px;
        font-size: 30px;
        background-color: #FACC9B;
        color: #8D4E1D;
        cursor: pointer;
        font-family: 'goldplay semibold';
}
.page2hed{
        color: black;
        text-decoration: none;
}

footer{
        position: absolute;
        bottom: 0px;
        left: 5px;
}


input::placeholder,
textarea::placeholder {
    font-size: 19.45px;
}

li{
        list-style-type: decimal;
}

.ideal{
        width: 100px;
        height: 100px;
        
}

.atlog{
        position: absolute;
        top: 110px;
        left: 258px;
        opacity: 0.2;
}

.codlog{
        position: absolute;
        top: 682px;
        left: 435px;
        opacity: 0.2;
}
.errlog{
        position: absolute;
        top: 733px;
        left: 1071px;
        opacity: 0.2;
}
.flalog{
        position: absolute;
        top: 2px;
        left: 1240px;
        opacity: 0.2;
}

.litlog{
        position: absolute;
        top: 394px;
        left: 74px;
        opacity: 0.2;
}

.loglog{
        position: absolute;
        top: 309px;
        left: 1580px;
        opacity: 0.2;
}

.ptlog{
        position: absolute;
        top: 672px;
        left: 1623px;
        opacity: 0.2;
}

.useful-res{
        position: relative;
        top: 39px;
        left: 19px;
        color: inherit;
        text-decoration: none;
        font-size: 30px;
        color: #8D4E1D;
        font-family: 'playfair display';
}